<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Đăng Ký</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/static/images/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet"  th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet"  th:href="@{/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet"  th:href="@{/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet"  th:href="@{/static/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" th:href="@{/static/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet"  th:href="@{/static/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet"  th:href="@{/static/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet"  th:href="@{/static/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{/static/css/util.css}">
	<link rel="stylesheet"  th:href="@{/static/css/main.css}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				
				<form class="login100-form validate-form" th:action="@{/dangky}" method="post" th:object = "${User}">
					<span class="login100-form-title p-b-43">
						Đăng Ký
					</span>
					<div th:if="${msg1 != null}" class="alert alert-success">
                    <p th:text="${msg1}"></p>
                    </div>	
					<div th:if="${msg != null}" class="alert alert-danger">
                    <p th:text="${msg}"></p>
                    </div>		
					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<input class="input100" type="text" name="username" th:field="*{username}" maxlength="20" minlength="5">
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>
					</div>
					<div >
						<input  type="hidden" name="role"  >
					</div>
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password" th:field="*{password}">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="email" name="email" th:field="*{email}">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Fullname is required">
						<input class="input100" type="text" name="fullname" th:field="*{fullname}">
						<span class="focus-input100"></span>
						<span class="label-input100">Fullname</span>
					</div>
					<div class="flex-sb-m w-full p-t-3 p-b-32">
						
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Sign Up
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							
							<a href="login" class="txt1">
								Back to Login
							</a>
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('https://th.bing.com/th/id/R.e6e5ce70fb906bb37f279e1b5334955d?rik=UxOraY%2fLxJciQQ&riu=http%3a%2f%2fanhnendep.net%2fwp-content%2fuploads%2f2015%2f07%2fhinh-nen-trai-cay-dep-7.jpg&ehk=jeXHlEEMXQbQzFf8zMMKIOLLp8gILuxcXr0vd9BG9%2b8%3d&risl=&pid=ImgRaw&r=0');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script th:src="@{/static/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/static/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/static/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/static/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/static/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/static/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/static/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/static/js/login.js}"></script>

</body>
</html>